.mainFooter{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding: 1rem;
   
}
.footerLogo{
    margin-left: 0px;
}
.footerInfo {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
     margin-left: 10px;

}
.footerInfo a:hover{
    color: blue;
}
// .footerInfo i{
//     margin-right: 10px;
// }