.mainFooter{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #000000;
    color: white;
    padding: 1rem;
   
}
.footerLogo{
    margin-left: 0px;
}
.footerInfo {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
     margin-left: 10px;

}
// .footerInfo i{
//     margin-right: 10px;
// }