@import "../elementStyles/mixin";

.functionalityContainer {
  @include boxStyles; 
    background-color: white;
  
}
.funcBoxes {
  @include boxStyles; 
    background-color: white;
  
}
.funcBoxes i{
    margin-right: 10px
}
.funcBox1 {
  @include funcBox;
}
.funcBox2 {
  @include funcBox;
}
.funcBox3 {
  @include funcBox;
}
.funcBoxNum{
    display: flex;
    background: #9356dc;
    color: white;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: -10px;
    margin-right: 10px;
}
.funcBoxText{
    font-size: 1em;
    font-weight: 500;
}


