@import "./elementStyles/mixin";
.mainContainer {
  display: flex;
  flex-direction: column;
}
.pubContainer {
  @include boxStyles;
}
.bigBtn {
  @include btn;
}
.pubContainer h1,p{
    padding-right: 10px;
}
