@import "mainHeader";
@import "location";
@import "pubContainer";
@import "functContainers";
@import "restau";
@import "footer";
@import "./pagesStyles/pageStyle";


body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: Roboto, sans-serif;
}
