body {
  margin: 0px;
  padding: 0px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* _______________________________________________
        PAGE LOADER
_______________________________________________ */
.pageLoader{
  display: flex;
  position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    -webkit-transition: visibility 3s;
    -o-transition: visibility 3s;
    transition: visibility 3s;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
   border:10px solid rgb(240, 226, 226 0.7); 
 
   border-top:10px solid #9356dc;
  border-bottom:10px solid #353535;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  -webkit-animation: turn 3s linear infinite;
  -o-animation:turn 3s linear infinite ;
  animation: turn 3s linear infinite;
}
.textLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  font-size: 30px;
  font-family: Shrikhand,"cursive";
}
.text1{
 color: #a742c6;
 opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
}
.text2{
  color: #353535;
  opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
  animation-delay: 0.09s;
}
.text3{
  color: #a742c6;
  opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
  animation-delay: 0.18s;
}
.text4{
  color: #353535;
  opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
   animation-delay: 0.27s; 
}
.text5{
  color: #a742c6;
  opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
  animation-delay: 0.36s;
}
.text6{
  color: #353535;
  opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
  animation-delay: 0.45s;
}
.text7{
  color: #353535;
  opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
  animation-delay: 0.52s;
}
.text8{
  color: #a742c6;
  opacity: 0.8;
  animation: transformText 1s;
    animation-iteration-count: 3;
  animation-delay: 0.59s;
}
@keyframes turn{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes transformText{
  0% {
    transform: translateY(0);
}
5% {
  transform: translateY(1px);
}
10% {
  transform: translateY(2px);
}
15% {
  transform: translateY(3px);
}
20% {
  transform: translateY(4px);
}
25% {
    transform: translateY(5px);
}
30% {
  transform: translateY(4px);
}
35% {
  transform: translateY(3px);
}
40% {
  transform: translateY(2px);
}
45% {
  transform: translateY(1px);
}
50% {
  transform: translateY(0px);
}
55% {
  transform: translateY(-1px);
}
60% {
  transform: translateY(-2px);
}
65% {
  transform: translateY(-3px);
}
70% {
  transform: translateY(-4px);
}
75% {
    transform: translateY(-5px);
}
80% {
  transform: translateY(-4px);
}
85% {
  transform: translateY(-3px);
}
90% {
  transform: translateY(-2px);
}
95% {
  transform: translateY(-1px);
}
100% {
    transform: translateY(0);
}
}



/* __________________TITLE _______________*/
.mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: white;
}

.mainTitle img {
  display: block;
}
/* __________________LOCATION _______________*/
.mapLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #e5e5e5;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.mapLocation i {
  margin-right: 0.9rem;
  font-size: 1.3rem;
}

.mapLocation p {
  font-weight: 700;
  font-size: 1.35em;
}
/* __________________mainCONTAINER _______________*/
.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* __________________pubCONTAINER _______________*/
.pubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f6f6;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pubContainer, h1{
  margin-right: 1px;
  padding-left: 1rem;
}
.pubContainer p{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  font-weight: 500;
  opacity: 0.5;
  padding-left: 1rem;
}
/* __________________BUTTON _______________*/
.bigBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 1.5rem 2rem 1rem;
  padding: 16px;
  font-size: 20px;
  border-radius: 30px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#9356dc),
    to(#ff79da)
  );
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  border-style: none;
}
.bigBtn:hover {
  box-shadow: 5px 5px 5px rgba(184, 183, 183, 02);
  transform: scale(1.01);
  cursor: pointer;
}
.pubContainer h1 p {
  padding-right: 10px;
  padding-left: 10px;
}
/* __________________FONCTIONNEMENT _______________*/
.functionalityContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 20px 0px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f6f6;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
}
.funcTitle {
  display: flex;
  margin: 2rem 0rem 0.5rem 1rem;
}
.funcBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0.3rem 0rem 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f6f6f6;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
}

.funcBoxes i {
  margin-right: 10px;
}

.funcB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* margin: 0rem 1rem 0rem 1rem; */
  font-size: 18px;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 2px rgba(184, 183, 183, 02);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 1rem 1rem 0rem;
  padding: 10px 0rem 10px 0px;
  border-radius: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.funcB:hover {
  background-color: #e4d5f6;
  box-shadow: 4px 4px 4px rgba(184, 183, 183, 02);
  transform: scale(1.01);
  cursor: pointer;
}
.funcB:hover i{
  color: #9356dc;
}
.funcBoxNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #9356dc;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -10px;
  margin-right: 10px;
}

.funcBoxText {
  font-size: 1em;
  font-weight: 500;
}
/* __________________RESTAURANTS _______________*/
.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.restaurants h2 {
  margin-left: 2rem;
  margin-top: 3rem;
  
}
.restoCards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.restauCard {
  background-color: white;
  margin: 0px 2rem 1rem 2rem; 
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(184, 183, 183, 02);
  position: relative;
}

.restauCard:hover{
  transform: scale(1.01);
  color: white;
  opacity: 0.7;
}

.restauCard img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cardBanner{
  background-color: #99e2d0;
  color: #1b6150;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 12px;
  padding: 5px;
  font-weight: 500;
  opacity: 0.8;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.cardText {
  text-decoration: none;
}

.restaurants p,
a:link,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: black;
}


/* __________________HEARTmainPAGE_______________*/
.cardInfo.heart {
  justify-content: end;
}
/* __________________FOOTER_______________*/
.mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #353535; 
  padding: 0px 0px 20px 20px;
}

.footerLogo {
  margin-left: 0px;
  font-family: 'Shrikhand';
  font-size: 15px;
  letter-spacing: 0.5px;
   color: white; 
}

.footerInfo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
   color: white; 
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footerInfo a:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
 color:#e4d5f6;
 opacity: 0.9;
 transform: scale(1.01);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footerInfo i {
  margin-right: 10px;
}

/* ________________________________________________________________

PAGES STYLES
________________________________________________________________ */

.pagesHeader {
  display: flex;
  padding: 0px 20px 0px 20px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 2;
  background-color: white;
}
/* __________________TITLE_______________*/
.pageTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pageTitle img {
  display: block;
}
.pageTitle img:hover{
  transform: scale(1.1);
}
.backArrow {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: #000000;
  font-weight: bold;
}
.backArrow:hover{
  color: #353535;
  transform: scale(1.1);
}
.pagePhoto {
  display: flex;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
/* __________________MENU______________*/
.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  margin-top: -40px;
  z-index: 1;
  position: relative;
}
/* _________________MENU HEADER_______________*/
.menuHeader {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 0px 15px;
  padding: 0px 30px 0px 0px;
  font-family: Shrikhand;
}
/* __________________HEART______________*/
.heart {
   height: 25px;
  width: 25px; 
 
}
.heart:hover .heartEmpty{
  opacity: 0;
}
.heartEmpty {
  position: absolute;
  color: #000000;
}
.heartEmpty::after {
  position: absolute;
  color: transparent;
}
.heartFull {
  position: absolute; 
  color: transparent;
  
}
.heartFull::after{
  border-style: none;
}
.heartFull:hover {
  position: absolute;
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  font-weight: 900;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  animation: heartAnim 1.2s 0.3s ease-out, transform 0.3s;
  transition: all 1.8s;
  cursor: pointer;
}
@keyframes heartAnim {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* __________________MENU CARDS_______________*/
.menuCards {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
}
.cardName {
  margin-left: 25px;
  padding-bottom: 5px;
  position: relative;
}
.cardName::after {
  content: "";
  width: 40px;
  height: 5px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.cardElements {
  display: flex;
  background-color: white;
  margin: 25px 20px 0px 25px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  padding: 0px 0px 0px 10px;
  box-shadow: 5px 5px 5px rgba(184, 183, 183, 02);
  animation: cardAnim .5s 0.3s ease-out both, transform 0.3s;
  transition: all 1.5s;
  transform: scale(0);
  
}
.cardElements:hover {
   padding-right: 5rem; 
}

/* _____________________________________ */

/* ________________________________ */

@keyframes cardAnim {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.dishName {
  justify-content: center;
  flex: 1;
}
.dishName, h3{
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dishName, p{
    text-overflow: ellipsis;
    overflow: hidden;
}
.dishPrice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
}

/* __________________CHECK ANIMATION_______________*/

.confirmation {
  display: flex;
  background-color: #99e2d0;
  width: 5rem;
  margin: 0px -5rem 0px 0.5rem;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
  justify-content: center;
  /* transition-duration: .5s */
}
.fa-check-circle {
   color: white; 
  font-size: 25px;
  transform: rotate(180deg);
  transition-duration: 1s;
}
.cardElements:hover .fa-check-circle {
  color: white;
  font-size: 25px;
  transform: rotate(360deg);
  
}
.fa-check-circle:active {
  color: white;
  font-size: 25px;
  transform: rotate(0deg);
}

/* __________________BUTTON_______________*/
.cmdBtn {
  display: flex;
  margin: 1.5rem 1.5rem 1.5rem 2rem;
  padding: 16px;
  font-size: 20px;
  border-radius: 30px;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  border-style: none;
  align-self: center;
}
.cmdBtn:hover {
  box-shadow: 5px 5px 5px rgba(184, 183, 183, 02);
  transform: scale(1.01);
  cursor: pointer;
}

/* ________________________________________________________________

RESPONSIVE MENU 
________________________________________________________________ */
@media (min-width:400px){
  .mainFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #353535; 
    padding: 0px 0px 20px 20px;
    align-items: center;
  }
  .cmdBtn{
    margin: 1.5rem 1.5rem 1.5rem 4rem;
  }
}
   @media (min-width:900px){
.restoCards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

/* ____________________________________

--------------PAGES---------------
____________________________________ */
 
.menuCards {
 
  flex-direction: row;
  justify-content: space-evenly;
  
}
.card {
  display: flex;
  flex-direction: column;
  width: 30%;
}

}    