@import "../elementStyles/mixin";
.pagesHeader{
    display: flex;
     }
     .pagesHeader.backArrow{
         align-items: center;
         padding-top: 20px;
     }
.photo{
    display: flex;
    width: 100%;
    height: 200px;
}
    